<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.AuthGroupMapper">
    <select id="getAllAuthGroups" resultType="AuthGroupDto">
        SELECT a.*, c.name
        FROM auth_group a
        JOIN company c ON a.company_id = c.id
        WHERE c.id = #{companyId}
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getAuthGroupCount" resultType="int">
        SELECT COUNT(*) FROM TABLE
    </select>

</mapper>