<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.common.mapper.CheckMapper">

  <!-- 마스터인지 확인 -->
  <select id="checkMaster" resultType="boolean">
    SELECT master_yn FROM employee WHERE id = #{empId};
  </select>

  <!-- 사원/부서/회사 존재여부 확인 -->
  <select id="checkExits">
    SELECT COUNT(*) FROM employee WHERE account_yn = 1 AND deleted_yn = 0 AND id = #{empId} AND user_id = #{userId}
    UNION SELECT COUNT(*) FROM employee_department
    WHERE transferred_yn = 0 AND deleted_yn = 0 AND emp_id = #{empId} AND org = 1 AND dept_id = #{deptId}
    UNION SELECT COUNT(*) FROM employee_company WHERE emp_id = #{empId} AND resigned_yn = 0 AND deleted_yn = 0 AND comp_id = #{compId};
  </select>

</mapper>