<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.employee.mapper.EmployeeMapper">

  <delete id="removeEmployee">
    DELETE FROM employee WHERE id = #{id}
  </delete>

  <insert id="addEmployee">
    INSERT INTO employee (name, position, department, salary) VALUES (#{name}, #{position},
    #{department},
    #{salary})
  </insert>



  <select id="findEmpList" resultType="com.example.backend.config.jwt.PrincipalUserDto">
    SELECT
    c.name AS comp_name,
    e.name AS emp_name,
    e.position AS position,
    ce.join_date AS join_date
    FROM
    comp_emp ce
    JOIN
    company c ON ce.comp_id = c.id
    JOIN
    employee e ON ce.emp_id = e.id
  </select>

  <select id="findById" resultType="com.example.backend.config.jwt.PrincipalUserDto">
    SELECT * FROM employee WHERE id = #{id}
  </select>

  <select id="getTotalElements" resultType="long">
    SELECT COUNT(*) FROM employee;
  </select>

  <update id="modifyEmployee">
    UPDATE employee SET name = #{name}, position = #{position}, department = #{department}, salary =
    #{salary}
  </update>

  <select id="checkMaster" resultType="Boolean">
    select master_yn from employee where id=#{empId};
  </select>

  <select id="findCompEmpByEmpId" resultType="com.example.backend.employee.dto.EmployeeCompanyDto">
    select emp_id as employee_id, comp_id as company_id FROM employee_company WHERE emp_id = #{employee_id};
  </select>
</mapper>
