<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.employee.mapper.EmployeeMapper">

    <select id="findPage" resultType="com.example.backend.employee.dto.response.EmpResDto">
        SELECT * FROM employee
    </select>

    <select id="findById" resultType="com.example.backend.employee.dto.response.EmpResDto">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <select id="findByLoginId" resultType="com.example.backend.employee.dto.response.EmpResDto">
        SELECT * FROM employee WHERE login_Id = #{loginId}
    </select>

    <insert id="addEmployee">
        INSERT INTO employee (name, position, department, salary) VALUES (#{name}, #{position}, #{department}, #{salary})
    </insert>

    <update id="modifyEmployee">
        UPDATE employee SET name = #{name}, position = #{position}, department = #{department}, salary = #{salary} WHERE id = #{id}
    </update>

    <delete id="removeEmployee">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <select id="getTotalElements" resultType="long">
        SELECT COUNT(*) FROM employee;
    </select>

</mapper>
