server:
  port: 8010
  servlet:
    context-path: /api/v1

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dz_groupware
    username: root
    password: password
  jackson:
    serialization:
      write-dates-as-timestamps: false

resources:
  static-location:
    - C:/dz_groupware/data/image/
    - classpath:/static/

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:/mappers/*.xml

jwt:
  secret:
    key: abc