spring:
  datasource:
    username: root
    password: 1234
    url: jdbc:mysql://localhost:3306/test_db
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    serialization:
      write-dates-as-timestamps: false

resources:
  static-location:
    - C:/dz_groupware/data/image/
    - classpath:/static/

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:/mappers/*.xml

server:
  port: 8010
  servlet:
    context-path: /api/v1

jwt:
  secret:
    key: abc




